
body {
 font-family: "Roboto",-apple-system, BlinkMacSystemFont, Tahoma, sans‑serif;
    background-image: url("151.jpg");
    background-size: cover;
}
footer div{
    display: inline;
    padding-right: 20px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gainsboro;
    color: black;
    text-align: center;
    
}

#githubLogo{
    width: 30px;
    height: 30px;
}

#title{
    font-size: 4em;
    font-weight: bolder;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 4px 4px 4px violet,
        8px 8px 8px indigo,
        12px 12px 12px blue,
        16px 16px 16px green,
        20px 20px 20px yellow,
        24px 24px 24px orange,
        28px 28px 28px red;
}
#container{
    width: 95vmin;
    height: 95vmin;
    float:left;
}

#display{
    float: left;
    border: 1px;
    width: 480px;
    padding-right: 50px;
}

#goalColorDisplay{
    font-size: 2em;
    text-align: center;
    border-radius: 30px;
    padding: 20px 0px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
}
#scoreDisplay{
    margin-top: 30px;
    font-size: 2em;
    text-align: center;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    padding: 10px 0;

}
.grid-row{
    line-height: 0px;

    width: 100%;
    display: flex;
}
.gridcell{
    display: block;
    height: 100%;
    display: inline-block;
    border: 1px solid black;
}
